@use 'base';

%container {
  width: 100%;
  margin: 0 auto;
 }

@mixin inputGroup ($width, $height, $borderColor ) {
  width: $width;
  height: $height;
  @include base.border($borderColor);
  text-align: left;
}

@mixin inputStyle ($radius) {
  border-radius: $radius;
}

label {
  cursor: pointer;
}

// progress
.progressContainer {
  @extend %container;
  height: 24px;
  color: base.$light-gray;
  position: relative;
  margin: 30px 0;

  .porgressOption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .progressGroup {
      position: relative;
      width: 100px;
      height: 24px;
      display: flex;

      &:nth-child(1) .progressNumber {
        background-color: black;
        color: white;
        opacity: 10;
      }

       

      .progressNumber {
        width: 24px;
        font-size: 1rem;
        line-height: 24px;
        border: 1px solid base.$light-gray;
        border-radius: 50%;
        background-color: white;
      }

      .ProgressComplete {
        position: absolute;
        left: 0;

      }

      .groupWords {
        flex: 1;
        line-height: 24px;
        font-size: 1rem;
        font-weight: 700px;
        color: base.$light-gray;
        margin-left: 10px;
      }

      &:nth-child(1) .groupWords {
        color: black;
      }
    }
  }

  .darkBack {
    width: 24px;
    font-size: 1rem;
    line-height: 24px;
    border: 1px solid base.$light-gray;
    border-radius: 50%;
    background-color: black;
    color: white;
  }

  .doneGroup {
    width: 300px;
    height: 24px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 40%;
    left: 23%;

    .done {
      width: 70px;
      height: 2px;
      background: black;
    }

    .unDone {
      width: 70px;
      height: 2px;
      background: base.$light-gray;
    }
  }


}

// form
.formContainer {
  @extend %container;
  height: 350px;
  display: flex;
  flex-direction: column;

  .formTitle {
    width: 96px;
    height: 24px;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    margin: 20px 0;
  }

  .formBlock {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  label {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
    color: black;
    cursor: pointer;
  }
}

.stepContainer {
  @extend %container;

}

.cityGroup {
  @include inputGroup(180PX, 70PX, white);

  .citySelect {
    @include inputGroup(100%, 40px, base.$light-gray);
    @include inputStyle(4px);
    cursor: pointer;

  }
}

.addressGroup {
  @include inputGroup(370PX, 70PX, white);

  .addressInput {
    @include inputGroup(100%, 40px, base.$light-gray);
    @include inputStyle(4px);
    cursor: pointer;
  }

}

.telGroup {
  @include inputGroup(275PX, 70PX, white);

  .telInput {
    @include inputGroup(100%, 40px, base.$light-gray);
    @include inputStyle(4px);
  }
}

// step2
.expressBlock {
  @include inputGroup(100%, 70PX, white);
  display: flex;
  margin: 10px 0;

  .expressInput {
    @include inputGroup(100%, 70PX, base.$light-gray);
    @include inputStyle(4px);
    display: flex;
  }

  .radioBlock {
    @include inputGroup(50px, 50PX, white);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input {
    cursor: pointer;

    &[type="radio"] {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      @include base.border(black);
      @include inputStyle(50%);

      &:checked {
        box-shadow: inset 0 0 0 5px black;
      }

    }

  }

  .expressContent {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    @include inputGroup(100%, 70PX, white);

    .expressInfo {
      @include inputGroup(100%, 24PX, white);
      font-weight: 900;
      display: flex;
      justify-content: space-between;
    }

    .expressTime {
      font-weight: 600;
    }
  }
}

// step3
.step3Container {
  @extend %container;
  // flex: 1;

  input {
    padding-left: 10px;
  }
}


// button
.buttonContainer {
  @extend %container;
  height: 24px;
  margin-top: 30px;

  hr {
    width: 100%;
    height: 2px;
    background: base.$light-gray;
  }
}

.buttonBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

}

.setLeftArrow {
  stroke: BLACK;
  stroke-width: 0.5px;
  fill: #F0F0F5;
}

.setRightArrow {
  stroke: white;
  stroke-width: 0.5px;
  fill: #F0F0F5;
}

.previous {
  display: flex;
  width: 77px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  color: black;
  cursor: pointer;
  opacity: 1;
}

.next {
  display: flex;
  width: 174px;
  height: 46px;
  font-size: 14px;
  line-height: 46px;
  background-color: #F67599;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;

  & p {
    margin-right: 10px;
  }

}
 