.controlContainer {
  width: 100%;
  height: 72px;
}

hr {
  border: 0;
  height: 1px;
  background-color: #E6E6EB;
  margin: 20px 0;
}

.controlIcon {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  width: 300px;
  height: 300px;
  border: 1px solid #ffffff;

}

.icon {
  /* display: none; */
  font-size: 0.2rem;
  width: 56px;
  height: 56px;
}

.buttonLayout {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
   width: 100%;
  height: 72px;
}

/*button container  */
.buttonRight {
  /* position: relative; */
  width: 100%;
  text-align: end;
  display: flex;
  justify-content: flex-end;
 }

.buttonLeft {
  width: 100%;
  text-align: start;
 }

/* 下一步和結帳按鈕 */
.nextButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  width: 174px;
  height: 46px;
  border-radius: 6px;
  background-color: #DB7290;
 }

/* 上一步按鈕 */
.previousButton {
  width: 80px;
  height: 24px;
  display: flex;
  align-items: center;
  background-color:white;
  border: none;
}

/* 上一步文字 */
.leftText {
  width: 42px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
}

/* button 裏面的p 和 veg */
.rightGroup {
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 12px;
  color: white;
}

.leftGroup {
  display: flex;
  margin: 0 auto;
  gap: 5px;
  align-items: center;
  color:black;

}