.inputFirst {
  border: 1px solid #2A2A2A;
  width: 160px;
  height: 40px;
  border-radius: 5px;
  padding-left: 15px;
}

.inputSecond {
  border: 1px solid #2A2A2A;
  width: 350px;
  height: 40px;
  border-radius: 5px;
  padding-left: 15px;
}

.inputThird {
  border: 1px solid #2A2A2A;
  width: 251px;
  height: 40px;
  border-radius: 5px;
  padding-left: 15px;
}

.inputFouth {
  border: 1px solid #2A2A2A;
  width: 255px;
  height: 40px;
  border-radius: 5px;
  padding-left: 15px;
}

.inputFifth {
  display: flex;
  border: 1px solid #e4e4e4;
  width: 435px;
  height: 60px;
  border-radius: 5px;
  gap:24px;
}

.coloor {
  color: red;
}

.space {
  margin-right: 30px;
}

/* input[type="radio"]::-webkit-slider-thumb {
  -webkit-appearance: none;
   
} */

 /* input[type="radio"] {
  width: 30px;
    height: 30px;
  border-radius: 50%;
  border: 1px solid red;
  cursor: pointer;
 }

   box-shadow: inset 0 0 0 5px $secondary-blue;
   */

/* input[type="radio"]::-webkit-slider-runnable-track, */
