/* #step1 {
  border: 5px solid orange;
} */


#step1 div:nth-child(1) span:nth-child(1) {
  display: none;
}

#step1 div:nth-child(2) span:nth-child(1) {
  display: none;
}

#step1 div:nth-child(3) span:nth-child(1) {
  display: none;
}

#step2 div:nth-child(2) span:nth-child(1) {
  display: none;
}

#step2 div:nth-child(2) span:nth-child(2) {
  background-color: black;
  color: white;
}

#step2 div:nth-child(3) span:nth-child(1) {
  display: none;
}

#step3 div:nth-child(3) span:nth-child(1) {
  display: none;
}

#step3 div:nth-child(3) span:nth-child(2) {
  background-color: black;
  color: white;
}