$body-bg: #f8f7fc;
$body-color: #18253d;
$white: #fff;
$main-blue: #001935;
$secondary-blue: #3c88fd;
$freedom-blue: #02b8ff;
$dark-gray: #4a4a4a;
$light-gray: #a7aaaf;

%testBorder {
  border: 1px solid red;
}

@mixin border($color) {
  border-width: 1px;
  border-style: solid;
  border-color: $color;
 }