.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* main */
.main-container {
  display: flex;
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
}

.primarySection {
  width: 100%;
  padding: 15px;
  border: 2px solid red;
  background-color: grey;
  min-height: 600px;
}

.primaryTitle {
  width: 90%;
  text-align: start;
  font-size: 2rem;
  font-weight: 900;
  border: 2px solid red;
  margin: 0px auto;
  line-height: 4rem;

}

.secondarySection {
  width: 100%;
  border: 2px solid red;
  background-color: rgb(47, 197, 14);
  min-height: 600px;
}

